<select id="filepaths">
	<option></option>
	<% @filepaths.each do |filepath| %>
		<option><%= filepath %></option>
	<% end %>
</select>

<br /><br />

<canvas id="canvas" width="820" height="800"></canvas>

<script>
document.getElementById("filepaths").addEventListener("change", function(event) {
	var request = new XMLHttpRequest();

	request.onreadystatechange = function() {
		if(this.readyState == this.DONE) {
			var canvas = document.getElementById("canvas");
			canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);

			var responseJson = JSON.parse(this.responseText);
			window.score = MusicXML.engrave("canvas", responseJson);
		}
	};

	request.open("GET", "/parse?filepath=" + this.value, true);
	request.send();
});
</script>
